<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Predictor</title>
</head>
<body>
    <h1>Home page Working</h1>
    <h3>Get your titanic predictions here!</h3>
    <p>Enter the detais of a made up person on the ship</p>
    <p>We will output a prediction</p>

    <form action="{% url 'result' %}" >
        {% csrf_token %}
        <p>PClass</p>
        <input type="text" name="pclass">
        <p>Sex</p>
        <input type="text" name="sex">
        <p>Age</p>
        <input type="text" name="age">
        <p>Sibsp</p>
        <input type="text" name="sibsp">
        <p>Parent/children</p>
        <input type="text" name="parch">
        <p>Fare</p>
        <input type="text" name="fare">
        <p>Embarked</p>
        <input type="text" name="embarked">
        <p>Title</p>
        <input type="text" name="title">
        <br>
        <input type="submit"> 
    </form>
    
</body>
</html>